*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #22343C;
  /* background-color: #E9F8FF; */
  margin: 0;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piano {
  display: flex;
}

.slider {
  margin-top: 20px;
  color: #009458;
  accent-color: #009458;
  justify-content: center;
  align-items: center;
}

.parameters {
  display:inline-block;
  margin: 2px;
}

.rootNote {
  /* justify-content: center;
  align-items: center; */
}

.dropdown select {
  border-radius: 10%;
  border-color: #009458;
  width: 70px;
  height: 30px;
  background-color: transparent;
  color: #009458;
}

@media (max-width: 600px) {
  .dropdown select {
    width:100vw;
  }
}

.dropdown option {
  background-color: #009458;
  color: #ffffff;
}


.melody {
  color: #009458 ;
  font-weight: bold;
  text-align: center;
  justify-content: center; 
    align-items: center;
}

.melodyNotes {
  color: #009458 ;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
}

.playButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  
}

.playButton:disabled {
  opacity: 50%;
}

.playButton:hover {
  border: none;
}

.round-button {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-color: #009458;
  margin-top: 10px;
}

.shape-button {
  border-radius: 5%;
  background-color: transparent;
  border-color: #009458;
  margin-top: 10px;
}

.menuButton {
  border-radius: 10%;
  width: 60px;
  height: 50px;
  background-color: transparent;
  margin: 10px;
  color: #ffffff;
  
}


.menuOptions {
  display:flex;
  justify-content: auto;
  align-items: auto;
  overflow:visible;
  transition: max-height 0.3s ease;
}


/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  .menuOptions {
    flex-direction: column; /* Change flex direction to column */
    justify-content: center; /* Center the items vertically */
    align-items: flex-start; /* Align items to the start of the container */
  }
}


.rewindButton {
  margin-right: 10px;
  border: none;
  background-color: transparent;
}

  /*************/
 /* keyboard */
/***********/

.piano {
  justify-content: center;
  /* align-items: center; */
}

.white {
  --width: 50px;
  background-color: white;
  border: 1px solid #333;
  border-radius: 6px;
}

.white.active {
  background-color: #009458;
  opacity: 90%;
  color: white;
}

.black {
  --width: 30px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
  border-radius: 10px;
  margin-top: 1px;
}

.black.active {
  background-color: #14a36a;
  color: black;
}

.white:hover {
  border: 6px solid;
  /* outline-style: dotted; */
  outline-color: #009458;
}

.black:hover {
  border: 5px solid;
  /* outline-style: dotted; */
  outline-color: #14a36a;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}
