*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #22343C;
  /* background-color: #E9F8FF; */
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piano {
  display: flex;
}

.slider {
  margin-top: 20px;
  color: #009458;
  accent-color: #009458;
}

.parameters {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

/* .dropdown {
  margin-right: 10px;
} */

.dropdown select {
  text-align: center;
  padding: 7px;
  margin-bottom: 5px;
  font-size: 15px;
  border: none;
  background-color: #009458;
  color: #ffffff;
  border-radius: 50%;
  appearance: none;
  /* -webkit-appearance: none;
  -moz-appearance: none; */
}

/* .dropdown select:focus {
  outline: none;
  box-shadow: 0 0 5px #ccc;
}

.dropdown select option {
  background-color: #f2f2f2;
  color: #333;
} */

.melody {
  color: #009458 ;
  font-weight: bold;
  text-align: center;
}

.melodyNotes {
  color: #009458 ;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
}

.playButton {
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
}

.playButton:disabled {
  opacity: 50%;
}

.playButton:hover {
  border: none;
}

.round-button {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-color: #009458;
  margin-top: 10px;
}


.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white:hover {
  border: 6px solid;
  /* outline-style: dotted; */
  outline-color: #009458;
}

.black:hover {
  border: 5px solid;
  /* outline-style: dotted; */
  outline-color: #009458;
}

.white {
  --width: 50px;
  background-color: white;
  border: 1px solid #333;
  border-radius: 6px;
}

.white.active {
  background-color: #009458;
  opacity: 90%;
  color: white;
}

.black {
  --width: 30px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
  border-radius: 10px;
  margin-top: 1px;
}

.black.active {
  background-color: #14a36a;
  color: black;
}
